<div class="container mt-4">
    <h4 class="bg-success p-2">Login <span class="badge badge-danger">login service</span></h4>
    <div class="alert alert-success" role="alert" *ngIf="welcomemsg">
        <strong>Success!</strong> {{welcomemsg}} 
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="loginfail">
        <strong>Warning!</strong> {{loginfail}}
    </div>
  <div class="col-4">
      <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" #email>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" #password>
          </div>
        
          <button type="submit" class="btn btn-default"  (click)="login(email.value, password.value)">Submit</button>
        </form>
  </div>
 </div>
