<nav class="p-0 navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://i.pinimg.com/originals/60/ca/86/60ca86fdd1da54163e37e1f5ba1f2bd9.png" alt="Logo" style="width:76px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                  

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view">View Customers</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/add">Add Customers</a>
                    </li> 
                     
                   
                </ul>
                <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt text-white pr-2"></i>Login</a>
                            <!-- <a class="nav-link"  routerLink="/logout"><i class="fas fa-sign-out-alt text-white pr-2"></i>SignOut</a> -->
                        </li> 
                    </ul>
            </div> 
        </div> 
    </nav>
    <div class="m-0">
       <router-outlet></router-outlet>
    </div> 
    