<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://vastphotos.com/files/uploads/photos/10308/high-resolution-large-format-night-sky-photo-print-m.jpg" alt="Los Angeles" width="100%">
    </div>
    <div class="carousel-item">
      <img src="https://vastphotos.com/files/uploads/photos/10283/big-photo-of-the-milky-way-m.jpg" alt="Chicago" width="100%" >
    </div>
    <div class="carousel-item">
      <img src="https://img.ibxk.com.br/2015/11/11/11165928520186-t1200x480.jpg" alt="New York" width="100%">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
 <div class="container mt-4">
    <div class="jumbotron">
        <h1>Welcome To angular5</h1> 
        <p>Angular5 is the most popular Typescript...</p> 
      </div>
      <app-get-templates></app-get-templates>
</div>